body {
  background-color:rgb(16, 63, 89);
}

.App {
  display:  flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.class-calc-wrapper{
  background-color: white;
  width: 400px;
  border-radius: 16px;
  justify-content: stretch;

}
.row {
  display: flex;
  align-content: center;
  justify-content: stretch;
}
.row button{
  flex: 1 1 0%;
}